<%- include('../layouts/adminHeader') %>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Add Offers</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="offers">Back</a></li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">

            <form action="/admin/offer-add" method="post" class="form-sample" id="offerForm" onsubmit="return validateForm()">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Offer Title</label>
                    <div class="col-sm-9">
                      <input  
                        type="text"
                        class="form-control"
                        name="offerTitle"
                        id="offerTitle"
                        required
                      />
                      <small
                        class="text-danger"
                        id="titleError"
                        style="display: none"
                        >Title cannot be empty</small
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Offer %</label>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        name="offerPercentage"
                        id="offerPercentage"
                      />
                      <small
                        class="text-danger"
                        id="percentageError"
                        style="display: none"
                        >Number should be 1 - 100 ranges</small
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="exampleTextarea1">Description</label>
                    <textarea
                      class="form-control"
                      name="description"
                      id="description"
                      rows="4"
                    ></textarea>
                    <small
                      class="text-danger"
                      id="descriptionError"
                      style="display: none"
                      >Description cannot be empty</small
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Start Date</label>
                    <div class="col-sm-9">
                      <input
                        type="date"
                        name="startDate"
                        class="form-control"
                        id="startDate"
                        required
                      />
                    </div>
                    <small
                      class="text-danger"
                      id="startDateError"
                      style="display: none"
                      >Cannot accept previous day</small
                    >
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Expire Date</label>
                    <div class="col-sm-9">
                      <input
                        class="form-control"
                        name="expireDate"
                        type="date"
                        id="expireDate"
                        required
                      /> 
                      <small class="text-danger" id="expireDateError" style="display: none">Expire Date must be after the starting date</small> 
                    </div>
                    <small
                      class="text-danger"
                      id="expireDateError"
                      style="display: none"
                      >Expire Date must be after starting date</small
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Offer Type</label>
                    <div class="col-sm-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            type="radio"
                            class="form-check-input"
                            name="offerType"
                            id="productsRadio"
                            value=""
                          />
                          Products
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            type="radio"
                            class="form-check-input"
                            name="offerType"
                            id="categoryRadio"
                            value="option2"
                          />
                          Categories
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- checked -->
                <!-- <div class="form-group">
                    <label>Items to be offered</label>
                    <select class="js-example-basic-multiple w-100" multiple="multiple" id="offerItemsSelect">
                    </select>
                  </div> -->

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Items to be offered</label>
                    <select
                      class="w-100"
                      style="background-color: beige"
                      multiple="multiple"
                      id="offerItemsSelect"
                    ></select>
                  </div>
                </div>
              </div>

              <input type="hidden" name="selectedItems" id="selectedItems" />

              <div class="col">
                <button type="submit" class="btn btn-info">Submit</button>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/adminFooter') %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
  function validateForm() {
   // Get form elements
   var offerTitle = document.getElementById('offerTitle').value;
   var offerPercentage = document.getElementById('offerPercentage').value;
   var description = document.getElementById('description').value;
   var startDate = document.getElementById('startDate').value;
   var expireDate = document.getElementById('expireDate').value;
  
   // Check if offerTitle or description is empty or contains only whitespace
   if (!offerTitle.trim() || !description.trim()) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Offer Title and Description cannot be empty or contain only whitespace.',
      });
      return false; // Prevent form submission
   }
  
   // Check if any other field is empty
   if (!offerPercentage || !startDate || !expireDate) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'All fields are required.',
      });
      return false; // Prevent form submission
   }
  
   // Check if offer percentage is a positive number between 1 and 100
   if (isNaN(offerPercentage) || offerPercentage < 1 || offerPercentage > 100) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Offer percentage must be a positive number between 1 and 100.',
      });
      return false; // Prevent form submission
   }
  
   // Check if start date is not before current date
   var currentDate = new Date();
   var startDateObj = new Date(startDate);
   if (startDateObj < currentDate) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Start date cannot be before the current date.',
      });
      return false; // Prevent form submission
   }
  
   // Check if expire date is not before start date
   var expireDateObj = new Date(expireDate);
   if (expireDateObj < startDateObj) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Expiration date must be after the start date.',
      });
      return false; // Prevent form submission
   }
  
   // If all checks pass, allow form submission
   return true;
  }
  </script>
  






<!-- select item offered -->
<script>
  let selectedItems = [];

  async function fetchProductItems() {
    const response = await fetch("/admin/productOffer");
    const data = await response.json();
    console.log(data, "fetchProductItems");
    return data;
  }

  async function fetchCategoryItems() {
    const response = await fetch("/admin/categoryOffer");
    const data = await response.json();
    console.log(data, "fetchCategoryItems");
    return data;
  }

  async function updateOfferItems() {
    const radioProducts = document.getElementById("productsRadio");
    const radioCategory = document.getElementById("categoryRadio");
    const offerItemsSelect = document.getElementById("offerItemsSelect");

    if (radioProducts.checked) {
      const productData = await fetchProductItems();
      offerItemsSelect.innerHTML = "";
      productData.products.forEach((item) => {
        offerItemsSelect.innerHTML += `<option value="${item._id}">${item.name}</option>`;
      });
    } else if (radioCategory.checked) {
      const categoryData = await fetchCategoryItems();
      offerItemsSelect.innerHTML = "";
      categoryData.categories.forEach((item) => {
        offerItemsSelect.innerHTML += `<option value="${item._id}">${item.name}</option>`;
      });
    }
  }

  function updateSelectedItems() {
    selectedItems = Array.from(
      document.querySelectorAll("#offerItemsSelect option:checked")
    ).map((option) => option.value);
    console.log(selectedItems, "selected items in updateselectedditems");
  }

  document.getElementById("productsRadio").addEventListener("change", () => {
    updateSelectedItems();
    console.log("product changing");
    updateOfferItems();
  });
  document.getElementById("categoryRadio").addEventListener("change", () => {
    updateSelectedItems();
    console.log("category changing");
    updateOfferItems();
  });

  document
    .getElementById("offerItemsSelect")
    .addEventListener("change", updateSelectedItems);
  updateOfferItems();
  console.log("offeritems select changing");
  updateSelectedItems();
</script>


<!-- form submit -->
<script>
  function submitForm() {
    const form = document.getElementById("offerForm");
    const formData = new FormData(form);

    const data = {
      offerTitle: formData.get("offerTitle"),
      offerPercentage: formData.get("offerPercentage"),
      description: formData.get("description"),
      startDate: formData.get("startDate"),
      expireDate: formData.get("expireDate"),
      selectedItems: selectedItems,
    };

    fetch("/admin/offer-add", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => {
        console.log(response, "resoponose");
        window.location.href = "/admin/offers";
      })
      .catch((error) => {
        console.error("Error founded in catch", error);
      });
  }
</script>
