<%- include("../layouts/header") %>




<style>
  body, html {
    overflow: hidden;
}
.container {
    overflow: hidden;
    
}
.bg-image {
  
  height: 100vh; /* Set height to 100% of the viewport height */
}

  .forgot-pass {
  color: black;
  font-size: small;
  padding-top: 40px;
  text-decoration: none; /* Remove underline */
}

.forgot-pass:hover {
  text-decoration: underline; /* Underline on hover */
}





</style>

  <!-- <a >
      <img class="victor-log" src="/user/assets/images/new/Victor-Logo.png"  alt="Molla Logo">
  </a> -->


  <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url(/user/assets/images/new/bg-image.jpg);">
    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="register-tab-2" data-toggle="tab" role="tab" aria-controls="register-2" aria-selected="true">Admin Login</a>
                    </li>
                </ul>



                <div class="tab-content">
                  <% if (typeof message !== "undefined") { %>
                    <h6 style="color: black;" class="text-center"><%= message %></h6>
                    <% } %>
                    
                    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">

                        <form action="dashboard" method="post">

                            <div class="form-group">
                                <label for="register-email-2">Admin Email *</label>
                                <input type="email" class="form-control" id="register-email-2" name="email" required />
                                <div class="invalid-feedback">Please enter a valid email address.</div>
                            </div>

                            <div class="form-group">
                                <label for="register-password-2">Password *</label>
                                <input type="password" class="form-control" id="register-password-2" name="password" required />
                               
                            </div>

                            <div class="form-footer">
                                <a href="">
                                    <button type="submit" class="btn btn-outline-primary-2" style="margin-left: 130%;" value="login">
                                        <span>Log In</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </a>
                            </div>
                        </form>

                        <div class="form-choice">
                            <a class="forgot-pass" href="/forgotPass">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






