<%- include("../layouts/header") %>


<header class="header header-11">
    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
  
                
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                      <!-- <li><a href="homepage">home</a></li> -->
                      
                        <li class="megamenu-container active">
                            <a href="admin" class="sf-with-ul">Back to Login</a>
                        </li>
                       
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

            </div><!-- End .header-left -->
  
            <div class="header-center">
                <a  class="logo">
                    <img class="victor-logo" src="/user/assets/images/new/Victor-Logo.png"  alt="Molla Logo" width="82" height="25">
                </a>
            </div><!-- End .header-center -->
  
            <div class="header-right">

            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
  </header><!-- End .header -->

<style>
  /* Form container styles */
  body, html {
    height: 100%;
}

.login-page {
    min-height: 100vh; /* Ensure that the login page takes at least the height of the viewport */
    display: flex;
    flex-direction: column;
}

.bg-image {
    background-image: url('user/assets/images/new/bg-img4.p');
    background-size: cover;
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
}

  .forgot {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
  }

  /* Form title styles */
  .forgot h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  /* Form input styles */
  .forgot label {
    font-weight: bold;
  }

  .forgot input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .forgot input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .forgot input[type="submit"]:hover {
    background-color: #0056b3;
  }
</style>
<div
class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
style="background-image: url(/user/assets/images/new/bg-image.jpg)">

  <div class="forgot">
    <h2>Forgot Password</h2>
    <form action="resetpassAdmin" method="post">
      <label for="email">Enter your email address:</label><br />
      <input type="email" id="email" name="email" required /><br />
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
