    <!-- Plugins JS File -->
    <script src="/user/assets/js/jquery.min.js"></script>
    <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/assets/js/jquery.waypoints.min.js"></script>
    <script src="/user/assets/js/superfish.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <script src="/user/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/user/assets/js/main.js"></script>
    <script src="/user/assets/js/demos/demo-18.js"></script>
</body>


<!-- molla/index-18.html  22 Nov 2019 10:00:57 GMT -->
</html>