
<header class="header header-11"  style="background-color: rgb(51, 51, 51)">
    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">

                
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="home" class="sf-with-ul">Home</a>

                           
                        </li>
                        <li>
                            <a href="/shop" class="sf-with-ul">Shop</a>

                            <div class="megamenu megamenu-md">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="menu-col">
                                            <div class="row">
                                              

                                                <div class="col-md-6">
                                                    <!-- <div class="menu-title">Product Category</div> -->
                                                    <!-- 
                                                        <ul>
                                                        <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                                                        <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                                                    </ul> -->
                                                   
                                                    <ul>
                                                        <!-- <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="dashboard.html">My Account</a></li>
                                                        <li><a href="#">Lookbook</a></li> -->
                                                    </ul>
                                                </div>
                                            </div><!-- End .row -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-8 -->

                                    <div class="col-md-4">
                                        
                                    </div>

                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-md -->
                        </li>
                        <li>
                            <a href="" class="sf-with-ul" >Contact</a>

                            <!-- <ul>
                                <li><a href="elements-products.html">Products</a></li>
                                <li><a href="elements-typography.html">Typography</a></li>
                                <li><a href="elements-titles.html">Titles</a></li>
                                <li><a href="elements-banners.html">Banners</a></li>
                                <li><a href="elements-product-category.html">Product Category</a></li>
                                <li><a href="elements-video-banners.html">Video Banners</a></li>
                                <li><a href="elements-buttons.html">Buttons</a></li>
                                <li><a href="elements-accordions.html">Accordions</a></li>
                                <li><a href="elements-tabs.html">Tabs</a></li>
                                <li><a href="elements-testimonials.html">Testimonials</a></li>
                                <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                                <li><a href="elements-portfolio.html">Portfolio</a></li>
                                <li><a href="elements-cta.html">Call to Action</a></li>
                                <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                            </ul> -->
                        </li>
                        <li>
                            <a href="" >About</a>
                        </li>

                        <!-- <li><a href="/login">Logout</a></li> -->
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
            </div><!-- End .header-left -->

            <div class="header-center">
                <a  class="logo">
                    <img class="victor-logo" src="/user/assets/images/new/Victor-Logo.png"  alt="Molla Logo" width="82" height="25" style="margin-left: 120px;">
                </a>
            </div><!-- End .header-center -->

            <!-- search div -->

          
                <div class="header-right">
                    <div class="header-search header-search-extended header-search-visible">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form id="searchForm" action="/search" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="searchQuery" placeholder="Search product ..." required>
                                <!-- Hidden input for category ID -->
                                <input type="hidden" name="categoryId" id="categoryId" value="">
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
    


                
            <a href="/wishlistPage" class="wishlist-link" data-wishlist-count="0">
                <i class="icon-heart-o"></i>
                <span class="wishlist-count"></span> <!-- Count will be inserted dynamically here -->
            </a>
            
        

                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count"></span>
                    </a>


                    <div class="dropdown-menu dropdown-menu-right">

                        <div class="dropdown-cart-action">
                            <a href="/cartPage" class="btn btn-primary">View Cart</a>
                            <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->



                <a href="/profile" class="wishlist-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
              </a>
               



            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->



    <!-- search product in shop -->
    <script>
        document.getElementById('searchForm').addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevent default form submission
    
            const searchQuery = document.getElementById('searchQuery');
    
            try {
                const response = await fetch(`/search?q=${searchQuery}`);
                // const data = await response.json();
                
                // console.log(data);
            } catch (error) {
                console.log(error);
            }
        });
    </script>