
   <div class="mobile-menu-overlay"></div>

   <div class="mobile-menu-container">
       <div class="mobile-menu-wrapper">
           <span class="mobile-menu-close"><i class="icon-close"></i></span>

           <div class="header-center">
            <a  class="logo">
                <img class="victor-logo" src="/user/assets/images/new/Victor-Logo.png"  alt="Molla Logo" width="82" height="25" style="margin-left: 70px;">
            </a>
        </div><!-- End .header-center -->

           <form id="searchfForm" action="/search" method="get" class="mobile-search">
               <label for="q" class="sr-only">Search</label>
               <input type="search" class="form-control" name="q" id="searchQuery" placeholder="Search product ..." required>
               <input type="hidden" name="categoryId" id="categoryId" value="">
               <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
           </form>
           

           
           
           <nav class="mobile-nav">
               <ul class="mobile-menu">
                   <li class="active">
                       <a href="/">Home</a>

                   </li>
                   <li class="acti">
                    <a href="/profile">Profile</a>
                       

                   </li>
                   <li>
                       <a href="/shop">Shop</a>
                       <ul>
                        
                           <li><a href="/cartPage">Cart</a></li>
                           <li><a href="/checkout">Checkout</a></li>
                           <li><a href="/wishlistPage">Wishlist</a></li>
                           
                       </ul>
                   </li>
                   <li>
                       <!-- <a href="/cartPage" class="sf-with-ul">Cart</a> -->
                   </li>
                   <li>
                       <a href="/contact">Contact</a>
                   </li>
                   <li>
                       <a href="/about">About</a>
                    </li>
                   <li>
                       <a href="/logout">Logout</a>
                    </li>
                    <!-- <li>
                        <form action="/logout" method="post">              
                            
                                <button class='fw-bold btn' style="margin-left: -40px; margin-top: 0px; color: #fff;" onclick="logout()">Logout</button>
                            </form>
 
                    </li> -->
               </ul>
           </nav><!-- End .mobile-nav -->

           <div class="social-icons">
               <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
               <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
               <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
               <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
           </div><!-- End .social-icons -->

          
       </div><!-- End .mobile-menu-wrapper -->
   </div><!-- End .mobile-menu-container -->