<%- include("../layouts/profileList")  %>


<div class='col-md-8 p-5 right' style=" border-radius:0;">


  <!-- profileList end div        -->
</div>
</div>
 <!-- profileList end div        -->

 
<br>
<br>
<%- include("../layouts/mobileNav") %>
<%- include("../layouts/footer")  %>
<%- include("../layouts/footerNav")  %>