<div class="col-6 col-md-4">
    <div class="product product-4">
        <figure class="product-media">
            <a href="product.html">
                <img src="/user/assets/images/new/flip3-img1.webp" alt="Product image" class="product-image1">
                <img src="/user/assets/images/new/flip3-img2.webp" alt="Product image" class="product-image-hover">
                <!-- <img src="/user/assets/images/demos/demo-18/products/product-1.jpg" alt="Product image" class="product-image">
                <img src="/user/assets/images/demos/demo-18/products/product-1-2.jpg" alt="Product image" class="product-image-hover"> -->
            </a>

            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
            </div><!-- End .product-action -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">Clothing</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">Linen-blend dress</a></h3><!-- End .product-title -->
            <div class="product-price">
                $60.00
            </div><!-- End .product-price -->
            <div class="product-nav product-nav-dots">
                <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
            </div><!-- End .product-nav -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-md-4 -->




<div class="col-6 col-md-4">
    <div class="product product-4">
        <figure class="product-media">
            <a href="product.html">
                <img src="/user/assets/images/new/flip2-img1.webp" alt="Product image" class="product-image2">
                <img src="/user/assets/images/new/flip2-img2.webp" alt="Product image" class="product-image-hover">
            </a>

            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
            </div><!-- End .product-action -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">Clothing</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">Vest dress</a></h3><!-- End .product-title -->
            <div class="product-price">
                $9.99
            </div><!-- End .product-price -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-md-4 -->


<div class="col-6 col-md-4">
    <div class="product product-4">
        <figure class="product-media">
            <a href="product.html">
                <img src="/user/assets/images/new/flip4-img1.webp" alt="Product image" class="product-image1">
                <img src="/user/assets/images/new/flip4-img2.webp" alt="Product image" class="product-image-hover">
                <!-- <img src="/user/assets/images/demos/demo-18/products/product-3.jpg" alt="Product image" class="product-image">
                <img src="/user/assets/images/demos/demo-18/products/product-3-2.jpg" alt="Product image" class="product-image-hover"> -->
            </a>

            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
            </div><!-- End .product-action -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">Clothing</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">Paper bag trousers</a></h3><!-- End .product-title -->
            <div class="product-price">
                $60.00
            </div><!-- End .product-price -->
            <div class="product-nav product-nav-dots">
                <a href="#" class="active" style="background: #9fac76;"><span class="sr-only">Color name</span></a>
                <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
            </div><!-- End .product-nav -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-md-4 -->



<div class="col-6 col-md-4">
    <div class="product product-4">
        <figure class="product-media">
            <a href="product.html">
                <img src="/user/assets/images/new/flip6-img1.webp" alt="Product image" class="product-image">
                <img src="/user/assets/images/new/flip6-img2.webp" alt="Product image" class="product-image-hover">
            </a>

            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
            </div><!-- End .product-action -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">Clothing</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">Linen-blend jumpsuit</a></h3><!-- End .product-title -->
            <div class="product-price">
                $595.00
            </div><!-- End .product-price -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-md-4 -->


<div class="col-6 col-md-4">
    <div class="product product-4">
        <figure class="product-media">
            <a href="product.html">
                <img src="/user/assets/images/new/flip5-img1.webp" alt="Product image" class="product-image1">
                <img src="/user/assets/images/new/flip5-img3.webp" alt="Product image" class="product-image-hover">
                <!-- <img src="/user/assets/images/demos/demo-18/products/product-3.jpg" alt="Product image" class="product-image">
                <img src="/user/assets/images/demos/demo-18/products/product-3-2.jpg" alt="Product image" class="product-image-hover"> -->
            </a>

            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
            </div><!-- End .product-action -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">Clothing</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">Paper bag trousers</a></h3><!-- End .product-title -->
            <div class="product-price">
                $60.00
            </div><!-- End .product-price -->
            <div class="product-nav product-nav-dots">
                <a href="#" class="active" style="background: #9fac76;"><span class="sr-only">Color name</span></a>
                <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
            </div><!-- End .product-nav -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-md-4 -->



<div class="col-6 col-md-4">
    <div class="product product-4">
        <figure class="product-media">
            <a href="product.html">
                <img src="/user/assets/images/new/cart-img14.png" alt="Product image" class="product-image">
                <img src="/user/assets/images/new/cart-img14.png" alt="Product image" class="product-image-hover">
            </a>

            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
            </div><!-- End .product-action -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">Clothing</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">Linen-blend jumpsuit</a></h3><!-- End .product-title -->
            <div class="product-price">
                $595.00
            </div><!-- End .product-price -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-md-4 -->

<div class="col-6 col-md-4">
    <div class="product product-4">
        <figure class="product-media">
            <a href="product.html">
                <img src="/user/assets/images/demos/demo-18/products/product-5.jpg" alt="Product image" class="product-image">
                <img src="/user/assets/images/demos/demo-18/products/product-5-2.jpg" alt="Product image" class="product-image-hover">
            </a>

            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
            </div><!-- End .product-action -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">Clothing</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">Silk-blend kaftan</a></h3><!-- End .product-title -->
            <div class="product-price">
                $370.00
            </div><!-- End .product-price -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-md-4 -->







<div class="col-6 col-md-4">
    <div class="product product-4">
        <figure class="product-media">
            <a href="product.html">
                <img src="/user/assets/images/demos/demo-18/products/product-9.jpg" alt="Product image" class="product-image">
                <img src="/user/assets/images/demos/demo-18/products/product-9-2.jpg" alt="Product image" class="product-image-hover">
            </a>

            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
            </div><!-- End .product-action -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">Clothing</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">Vest dress</a></h3><!-- End .product-title -->
            <div class="product-price">
                $9.99
            </div><!-- End .product-price -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-md-4 -->
