<%- include("../layouts/header")  %>

    <!-- <div class="page-wrapper"> -->

        <header class="header header-11">
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
    
                        
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="" class="sf-with-ul">Home</a>
    
                                   
                                </li>
                                <li>
                                    <a href="shop" class="sf-with-ul">Shop</a>
    
                                    <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                      
    
                                                        <div class="col-md-6">
                                                            <!-- <div class="menu-title">Product Category</div> -->
                                                            <!-- 
                                                                <ul>
                                                                <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                                                                <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                                                            </ul> -->
                                                           
                                                            <ul>
                                                                <!-- <li><a href="cart.html">Cart</a></li>
                                                                <li><a href="checkout.html">Checkout</a></li>
                                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                                <li><a href="dashboard.html">My Account</a></li>
                                                                <li><a href="#">Lookbook</a></li> -->
                                                            </ul>
                                                        </div>
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->
    
                                            <div class="col-md-4">
                                                
                                            </div>
    
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-md -->
                                </li>
                                <li>
                                    <a href="/contact" class="sf-with-ul">Contact</a>

                                </li>
                                <li>
                                    <a href="/about" >About</a>
                                </li>
    
                             
                            </ul><!-- End .menu -->
                            
                        </nav><!-- End .main-nav -->
    
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->
    
                    <div class="header-center">
                        <a  class="logo">
                            <img class="victor-logo" src="/user/assets/images/new/Victor-Logo.png"  alt="Molla Logo" width="82" height="25">
                        </a>
                    </div><!-- End .header-center -->
    
                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form id="searchForm" action="/search" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="searchQuery" placeholder="Search product ..." required>
                                    <!-- Hidden input for category ID -->
                                    <input type="hidden" name="categoryId" id="categoryId" value="">
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                        
                        <!-- wishlist -->
                        <a href="/wishlistPage" class="wishlist-link" data-wishlist-count="0">
                            <i class="icon-heart-o"></i>
                            <span id="wishlistCount" class="wishlist-count"></span> 
                        </a>
                      
                        <!-- cart -->
                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span id="cartCount" class="cart-count"></span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-action">
                                    <a href="/cartPage" class="btn btn-primary">View Cart</a>
                                    <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->

                        <a href="/profile" class="wishlist-link">
                          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                      </a>
                    
                      <!-- logout option -->
                      <!-- <form action="/logout" method="post">              
                            <button style="border: none;
                            background: transparent;display: flex;align-items: center; margin-left: 20px;">

                                <svg  xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg>
                                <p class="ll" style="color: white; font-size: 8px;margin-right: 4px;">Logout</p>
                            </button>                   
                       </form> -->
                       
    

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        


        <main class="main">
            <div class="intro-slider-container mb-3 mb-lg-5">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"dots": true, "nav": false}'>
                    <div class="intro-slide" style="background-image: url(/user/assets/images/new/admin-bg.jpg);">
                        <div class="container">
                            <div class="intro-content text-center">
                                <h3 class="intro-subtitle cross-txt text-primary">Mens Collections</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Summer Sale</h1><!-- End .intro-title -->
                                <div class="intro-text text-white">up to 70% off</div><!-- End .intro-text -->
                                <div class="intro-action cross-txt">
                                    <a href="/shop" class="btn btn-outline-white">
                                        <span>Discover More</span>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide" style="background-image: url(/admin/assets/images/carousel/banner_6.jpg);">
                    <!-- <div class="intro-slide" style="background-image: url(/user/assets/images/demos/demo-18/slider/slide-2.jpg);"> -->
                        <div class="container">
                            <div class="intro-content text-center">
                                <h3 class="intro-subtitle text-primary cross-txt">Women's Accessories</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Save up to</h1><!-- End .intro-title -->
                                <div class="intro-text text-white">30-50% off</div><!-- End .intro-text -->
                                <div class="intro-action cross-txt">
                                    <a href="/shop" class="btn btn-outline-white">
                                        <span>Discover More</span>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            
            <div class="container banners">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner banner-hover">
                            <a href="/shop">
                                <img class="jacket" style="height: 560px;"  src="/user/assets/images/demos/demo-18/banners/banner-1.jpg" alt="Banner"> </a>

                           

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="/shop">Sweatshirts & Hoodies</a></h3><!-- End .banner-title -->
                                <a href="/shop" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->


                    </div><!-- End .col-lg-6 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="banner banner-hover">
                            <a href="/shop">
                                <img src="/user/assets/images/demos/demo-18/banners/banner-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="/shop">Men’s Jacket</a></h3><!-- End .banner-title -->
                                <a href="/shop" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="banner banner-hover">
                            <a href="/shop">
                                <img src="/user/assets/images/demos/demo-18/banners/banner-3.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="/shop">Women’s jackets</a></h3><!-- End .banner-title -->
                                <a href="/shop" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->

                        <div class="banner banner-hover">
                            <a href="/shop">
                                <img src="/user/assets/images/new/cart-img2.png" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="/shop">Accessories</a></h3><!-- End .banner-title -->
                                <a href="/shop" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->
                    
                </div><!-- End .row -->
            </div><!-- End .container -->


            <div class="container">

                <div class="intro-slider-container mb-3 mb-lg-5">
                    <div class="intro-slide" style="background-image: url(/user/assets/images/new/bg-image2.png);">
                
                        <div class="container">
                            <div class="intro-content text-center">
                                <h3 class="intro-subtitle cross-txt text-primary">SEASONAL PICKS</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Victor Outfits</h1><!-- End .intro-title -->
                                <div class="intro-text text-white">up to 50% off</div><!-- End .intro-text -->
                                <div class="intro-action cross-txt">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </div><!-- End .intro-slider-container -->

          

              
            </div><!-- End .container -->



        </main><!-- End .main -->

      

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>





    <!-- popup ad-image -->

    <!-- <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            <img src="/user/assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60" height="15">
                            <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                            <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite products.</p>
                            <form action="">
                                <div class="input-group input-group-round">
                                    <input type="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><span>go</span></button>
                                    </div>
                                </div>
                            </form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5 ">
                        <img src="/user/assets/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <%- include("../layouts/mobileNav") %>
    <%- include("../layouts/footer")  %>
    <%- include("../layouts/footerNav")  %>



    <!-- search product in shop -->
<script>
    document.getElementById('searchForm').addEventListener('submit', async (event) => {
    event.preventDefault(); // Prevent default form submission
    
    const searchQuery = document.getElementById('searchQuery').value;
    const categoryId = 'yourCategoryId'; // Replace 'yourCategoryId' with the actual category ID
    
    document.getElementById('categoryId').value = categoryId;
    
    try {
        window.location.href = `/search?q=${encodeURIComponent(searchQuery)}&categoryId=${encodeURIComponent(categoryId)}`;
    
        // const response = await fetch(`/search?q=${encodeURIComponent(searchQuery)}&categoryId=${encodeURIComponent(categoryId)}`);
        // const data = await response.json();
        
        // console.log(data);
    } catch (error) {
        console.log(error);
    }
    });
    
</script>



<script>
    cartCount()
    function cartCount(){
        const cartt = document.getElementById('cartCount');
        console.log(cartt.textContent);

        fetch('/cartCount' , {method : 'post'}).then(res=>res.json()).then((data)=>{
            cartt.textContent = data.success || 0
        });
    }

</script>


<script>
    wishlistCount()
    function wishlistCount(){
        const wish = document.getElementById('wishlistCount');
        console.log(wish.textContent);

        fetch('/wishlistCount', {method: 'post'}).then(res=>res.json()).then((data)=>{
            wish.textContent = data.success || 0
        });
    }
</script>