<%- include("../layouts/header")  %>

    <!-- <div class="page-wrapper"> -->

        <header class="header header-11">
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
    
                        
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="" class="sf-with-ul">Home</a>
    
                                   
                                </li>
                                <li>
                                    <a href="shop" class="sf-with-ul">Shop</a>
    
                                    <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                      
    
                                                        <div class="col-md-6">
                                                            <!-- <div class="menu-title">Product Category</div> -->
                                                            <!-- 
                                                                <ul>
                                                                <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                                                                <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                                                            </ul> -->
                                                           
                                                            <ul>
                                                                <!-- <li><a href="cart.html">Cart</a></li>
                                                                <li><a href="checkout.html">Checkout</a></li>
                                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                                <li><a href="dashboard.html">My Account</a></li>
                                                                <li><a href="#">Lookbook</a></li> -->
                                                            </ul>
                                                        </div>
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->
    
                                            <div class="col-md-4">
                                                
                                            </div>
    
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-md -->
                                </li>
                                <li>
                                    <a href="/contact" class="sf-with-ul">Contact</a>

                                </li>
                                <li>
                                    <a href="/about" >About</a>
                                </li>
    
                             
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
    
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->
    
                    <div class="header-center">
                        <a  class="logo">
                            <img class="victor-logo" src="/user/assets/images/new/Victor-Logo.png"  alt="Molla Logo" width="82" height="25">
                        </a>
                    </div><!-- End .header-center -->
    
                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        
                        <!-- wishlist -->
                        <a href="/wishlistPage" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <!-- <span class="wishlist-count"></span> -->
                        </a>
                      
                        <!-- cart -->
                        <div class="dropdown cart-dropdown">
                            <a href="/cartPage" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="cart-count"></span> -->
                            </a>
    
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-action">
                                    <a href="/cartPage" class="btn btn-primary">View Cart</a>
                                    <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->

                        <a href="/profile" class="wishlist-link">
                          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                      </a>
                    
                      <!-- logout option -->
                      <!-- <form action="/logout" method="post">              
                            <button style="border: none;
                            background: transparent;display: flex;align-items: center; margin-left: 20px;">

                                <svg  xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg>
                                <p class="ll" style="color: white; font-size: 8px;margin-right: 4px;">Logout</p>
                            </button>                   
                       </form> -->
                       
    

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        


        <main class="main">
            <div class="intro-slider-container mb-3 mb-lg-5">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"dots": true, "nav": false}'>
                    <div class="intro-slide" style="background-image: url(/user/assets/images/new/admin-bg.jpg);">
                        <div class="container">
                            <div class="intro-content text-center">
                                <h3 class="intro-subtitle cross-txt text-primary">Mens Collections</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Summer Sale</h1><!-- End .intro-title -->
                                <div class="intro-text text-white">up to 70% off</div><!-- End .intro-text -->
                                <div class="intro-action cross-txt">
                                    <a href="/shop" class="btn btn-outline-white">
                                        <span>Discover More</span>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide" style="background-image: url(/admin/assets/images/carousel/banner_6.jpg);">
                    <!-- <div class="intro-slide" style="background-image: url(/user/assets/images/demos/demo-18/slider/slide-2.jpg);"> -->
                        <div class="container">
                            <div class="intro-content text-center">
                                <h3 class="intro-subtitle text-primary cross-txt">Women's Accessories</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Save up to</h1><!-- End .intro-title -->
                                <div class="intro-text text-white">30-50% off</div><!-- End .intro-text -->
                                <div class="intro-action cross-txt">
                                    <a href="/shop" class="btn btn-outline-white">
                                        <span>Discover More</span>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            
            <div class="container banners">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner banner-hover">
                            <a href="/shop">
                                <img class="jacket" style="height: 560px;"  src="/user/assets/images/demos/demo-18/banners/banner-1.jpg" alt="Banner"> </a>

                           

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="/shop">Sweatshirts & Hoodies</a></h3><!-- End .banner-title -->
                                <a href="/shop" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->


                    </div><!-- End .col-lg-6 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="banner banner-hover">
                            <a href="/shop">
                                <img src="/user/assets/images/demos/demo-18/banners/banner-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="/shop">Men’s Jacket</a></h3><!-- End .banner-title -->
                                <a href="/shop" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="banner banner-hover">
                            <a href="/shop">
                                <img src="/user/assets/images/demos/demo-18/banners/banner-3.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="/shop">Women’s jackets</a></h3><!-- End .banner-title -->
                                <a href="/shop" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->

                        <div class="banner banner-hover">
                            <a href="/shop">
                                <img src="/user/assets/images/new/cart-img2.png" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="/shop">Accessories</a></h3><!-- End .banner-title -->
                                <a href="/shop" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->
                    
                </div><!-- End .row -->
            </div><!-- End .container -->


            <div class="container">

                <div class="intro-slider-container mb-3 mb-lg-5">
                    <div class="intro-slide" style="background-image: url(/user/assets/images/new/bg-image2.png);">
                
                        <div class="container">
                            <div class="intro-content text-center">
                                <h3 class="intro-subtitle cross-txt text-primary">SEASONAL PICKS</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Victor Outfits</h1><!-- End .intro-title -->
                                <div class="intro-text text-white">up to 50% off</div><!-- End .intro-text -->
                                <div class="intro-action cross-txt">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </div><!-- End .intro-slider-container -->

                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title" style="text-align: center;">Collections</h2><!-- End .title -->
                        <div class="products-container mb-7">
                            <div class="row justify-content-center">



                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media">
                                            <a href="/shop">
                                                <img src="/user/assets/images/new/cart-img14.png" alt="Product image" class="product-image2">
                                                <img src="/user/assets/images/new/cart-img14.png" alt="Product image" class="product-image-hover">
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="/shop" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <!-- <a href="" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="">Clothing</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/shop">Vest dress</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                ₹999
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 -->

                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media">
                                            <a href="/shop">
                                                <img src="/user/assets/images/new/flip4-img1.webp" alt="Product image" class="product-image1">
                                                <!-- <img src="/user/assets/images/new/flip4-img2.webp" alt="Product image" class="product-image-hover"> -->
                                                <!-- <img src="/user/assets/images/demos/demo-18/products/product-1.jpg" alt="Product image" class="product-image">
                                                <img src="/user/assets/images/demos/demo-18/products/product-1-2.jpg" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <!-- <a href="" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="">Clothing</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/shop">Linen-blend dress</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                ₹1699
                                            </div><!-- End .product-price -->
                                           
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 -->

                               
                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media">
                                            <a href="/shop">
                                                <img src="/user/assets/images/new/flip-img2.webp" alt="Product image" class="product-image1">
                                                <!-- <img src="/user/assets/images/new/flip-img3.webp" alt="Product image" class="product-image-hover">  -->
                                                <!-- <img src="/user/assets/images/demos/demo-18/products/product-3.jpg" alt="Product image" class="product-image">
                                                <img src="/user/assets/images/demos/demo-18/products/product-3-2.jpg" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <!-- <a href="" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="">Clothing</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/shop">Paper bag trousers</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                ₹899
                                            </div><!-- End .product-price -->
                                           
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 -->

                               
                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media">
                                            <a href="/shop">
                                                <img src="/user/assets/images/demos/demo-18/products/product-5.jpg" alt="Product image" class="product-image">
                                                <!-- <img src="/user/assets/images/demos/demo-18/products/product-5-2.jpg" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                 <!-- <a href="" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <!-- <a href="" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="">Clothing</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/shop">Silk-blend kaftan</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                ₹1249
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 -->

                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media">
                                            <a href="/shop">
                                                <img src="/user/assets/images/new/flip3-img1.webp" alt="Product image" class="product-image">
                                                <!-- <img src="/user/assets/images/new/flip3-img2.webp" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <!-- <a href="" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="">Clothing</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/shop">Linen-blend jumpsuit</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                ₹1449
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 -->

                                

                               

                               
                                <div class="col-6 col-md-4">
                                    <div class="product product-4">
                                        <figure class="product-media">
                                            <a href="/shop">
                                                <img src="/user/assets/images/new/flip2-img1.webp" alt="Product image" class="product-image">
                                                <!-- <img src="/user/assets/images/new/flip2-img2.webp" alt="Product image" class="product-image-hover"> -->
                                            </a>

                                            <div class="product-action-vertical">
                                                <!-- <a href="/shop" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <!-- <a href="/shop" class="btn-product btn-cart"><span>add to cart</span></a> -->
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="/shop">Clothing</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/shop">Vest dress</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                ₹1299
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 -->


                            </div><!-- End .row -->

                          
                        </div><!-- End .products -->
                    </div><!-- End .col-lg-9 -->

                    <aside class="col-lg-3">
                        <div class="sidebar sidebar-home">
                            <div class="row">
                                <div class="col-sm-6 col-lg-12">
                                    <div class="widget widget-products">
                                        <h4 class="widget-title">Best Selling</h4><!-- End .widget-title -->

                                        <div class="products">
                                            <div class="product product-sm">
                                                <figure class="product-media">
                                                    <a href="/shop">
                                                        <img src="/user/assets/images/new/flip5-img1.webp" alt="Product image" class="product-image">
                                                    </a>
                                                </figure>

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="">Clothing</a>
                                                    </div><!-- End .product-cat -->
                                                    <h5 class="product-title"><a href="/shop">V-neck buttoned blouse</a></h5><!-- End .product-title -->
                                                    <div class="product-price">
                                                        <span>₹999</span>
                                                        <!-- <span class="old-price">Was ₹32.99</span> -->
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product product-sm -->

                                        

                                            <div class="product product-sm">
                                                <figure class="product-media">
                                                    <a href="/shop">
                                                        <img src="/user/assets/images/new/flip6-img2.webp" alt="Product image" class="product-image">
                                                    </a>
                                                </figure>

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="/shop">Clothing</a>
                                                    </div><!-- End .product-cat -->
                                                    <h5 class="product-title"><a href="/shop">Paper bag skirt</a></h5><!-- End .product-title -->
                                                    <div class="product-price">
                                                        ₹699
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product product-sm -->

                                          
                                        </div><!-- End .products -->
                                    </div><!-- End .widget widget-products -->
                                </div><!-- End .col-sm-6 col-lg-12 -->

                                <div class="col-sm-6 col-lg-12">
                                    <div class="widget widget-subscribe" style="background-image: url(/user/assets/images/demos/demo-18/bg-newsletter.jpg);">
                                        <h2 class="widget-title">Sign up for email <br>& get 25% off </h2><!-- End .widget-title -->
                                        <p>Subcribe to get information about products and coupons</p>

                                        <form action="/shop">
                                            <input type="email" class="form-control" placeholder="Enter your Email Address" required>

                                            <input type="submit" class="btn btn-outline-white" value="Subscribe">
                                        </form>
                                        
                                    </div><!-- End .widget widget-banner -->
                                </div><!-- End .col-sm-6 col-lg-12 -->

                                <div class="col-sm-6 col-lg-12">
                                    <div class="widget widget-banner">
                                        <div class="banner banner-overlay">
                                            <a href="/shop">
                                                <img src="/user/assets/images/demos/demo-18/banners/banner-5.jpg" alt="Banner">
                                            </a>

                                            <div class="banner-content">
                                                <h4 class="banner-subtitle"><a href="/shop">Spring 2019</a></h4><!-- End .banner-title -->
                                                <h3 class="banner-title"><a href="/shop">SAVE UP TO <br>50% OFF</a></h3><!-- End .banner-title -->
                                                <a href="/shop" class="banner-link">Shop Now</a>
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .widget widget-banner -->
                                </div><!-- End .col-sm-6 col-lg-12 -->
                                
                               
                               
                            </div><!-- End .row -->
                        </div><!-- End .sidebar sidebar-home -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->

              
            </div><!-- End .container -->



        </main><!-- End .main -->

      

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>





    <!-- popup ad-image -->

    <!-- <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            <img src="/user/assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60" height="15">
                            <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                            <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite products.</p>
                            <form action="">
                                <div class="input-group input-group-round">
                                    <input type="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><span>go</span></button>
                                    </div>
                                </div>
                            </form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5 ">
                        <img src="/user/assets/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <%- include("../layouts/mobileNav") %>
    <%- include("../layouts/footer")  %>
    <%- include("../layouts/footerNav")  %>