<%- include("../layouts/header") %>
<%- include("../layouts/mobileNav") %>
 

<header class="header header-11">
	<div class="header-middle sticky-header">
		<div class="container">
			<div class="header-left">
  
				
				<nav class="main-nav">
					<ul class="menu sf-arrows">
					  <li><a href="homepage">home</a></li>
					  
						<li class="megamenu-container active">
							<a href="registration" class="sf-with-ul">Sign UP</a>
  
						   
						</li>
					   
					</ul><!-- End .menu -->
				</nav><!-- End .main-nav -->
  
				<button class="mobile-menu-toggler">
					<span class="sr-only">Toggle mobile menu</span>
					<i class="icon-bars"></i>
				</button>
			</div><!-- End .header-left -->
  
			<div class="header-center">
				<a  class="logo">
					<img class="victor-logo" src="/user/assets/images/new/Victor-Logo.png"  alt="Molla Logo" width="82" height="25">
				</a>
			</div><!-- End .header-center -->
  
			<div class="header-right">
				<div class="header-search header-search-extended header-search-visible">
					<a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
					<!-- <form action="#" method="get">
						<div class="header-search-wrapper">
							<label for="q" class="sr-only">Search</label>
							<input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
							<button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
						</div>
					</form> -->
				</div><!-- End .header-search -->
				
				<!-- <a href="wishlist.html" class="wishlist-link">
					<i class="icon-heart-o"></i>
					<span class="wishlist-count">3</span>
				</a> -->
  
				<div class="dropdown cart-dropdown">
					
  
  
  
				</div><!-- End .cart-dropdown -->
			</div><!-- End .header-right -->
		</div><!-- End .container -->
	</div><!-- End .header-middle -->
  </header><!-- End .header -->


<div class="page-wrapper">
	
	
    	<main class="main">

			 <!-- <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
					    <li class="breadcrumb-item"><a href="/login">Login</a></li>
                        <li class="breadcrumb-item active" aria-current="#">Sign Up</li>
                    </ol>
                </div>
            </nav> -->

            <div class="login-page bg-image p-3" style="background-image: url('assets/images/urban/show.jpg')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">

	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Sign Up</a>
							    </li>
							</ul>

                        <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">

							<form action="/registration" method="post" id="signupForm">

								<div class="justify-content-center">

									<% if(locals.emailAlredyExits) { %>

										<p class="text-center text-danger "><%= emailAlredyExits %></p> 

									<% } %>
									
								</div>

								<div class="form-group">
									<label for="register-fullname">Full Name *</label>
									<input type="text" class="form-control" id="register-name-2" name="name" oninput=" validateInput(this)">
									<div class="error-message" id="name-error"></div>
								</div>
								<!-- End .form-group -->

								<div class="form-group">
									<label for="register-email-2">Email Address *</label>
									<input type="email" class="form-control" id="register-email-2" name="email">
									<div class="error-message" id="email-error"></div>
								</div>
								<!-- End .form-group -->

								<div class="form-group">
									<label for="register-phone">Phone Number *</label>
									<input type="text" class="form-control" id="register-mobile" name="mobile" oninput="isValidPhoneNumber(this);" onkeypress="return Numbers(event)">
									<div class="error-message" id="mobile-error"></div>
								</div>
								<!-- End .form-group -->

								<div class="form-group">
									<label for="register-password-2">Password *</label>
									<input type="password" class="form-control" id="register-password-2" name="password">
									<div class="error-message" id="password-error"></div>
								</div>
								<!-- End .form-group -->

								<div class="form-group">
									<label for="register-confirm-password">Confirm Password *</label>
									<input type="password" class="form-control" id="register-confirm-password" name="confirmPassword">
									<div class="error-message" id="confirm-password-error"></div>
								</div>
								<!-- End .form-group -->

								<div class="form-footer">

									<button type="button" class="btn btn-outline-primary-2 submit submits" onclick="validateForm()">
										<span >SIGN UP</span>
										<i class="icon-long-arrow-right"></i>
									</button>

									 <!-- <div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="register-policy-2">
										<label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
									</div>  -->
									<!-- End .custom-checkbox -->

								</div>
								
								<!-- End .form-footer -->
							</form>

							<div class="form-choice ">
								<p class="text-center">or sign in with</p>
								<div class="row">

									<div class="col-sm-6">
										<a href="/auth/google" class="btn btn-login btn-g">
											<i class="icon-google"></i>
											Login With Google
										</a>
									</div><!-- End .col-6 -->

									<div class="col-sm-6">
										<a href="/auth/facebook" class="btn btn-login  btn-f">
											<i class="icon-facebook-f"></i>
											Login With Facebook
										</a>
									</div><!-- End .col-6 -->

								</div><!-- End .row -->
							</div><!-- End .form-choice -->
							
						</div><!-- .End .tab-pane -->

					</div><!-- End .form-tab -->
            	  </div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->

        </main><!-- End .main -->
     
	</div><!-- End .page-wrapper -->

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

	

	<!-- Validation Section -->

	<script>

		//	FullName Validate Only Alphabet :-
		function validateInput(input) {
				
			var inputValue = input.value;
			var sanitizedInput = inputValue.replace(/[^a-zA-Z]/g, '');
			input.value = sanitizedInput;
		}

		function validateForm() {

			var fullName = document.getElementById('register-name-2').value;
			var email = document.getElementById('register-email-2').value;
			var phone = document.getElementById('register-mobile').value;
			var password = document.getElementById('register-password-2').value;
			var confirmPassword = document.getElementById('register-confirm-password').value;

			// Validate fullName :-
			if (fullName.trim() === '' || fullName.trim().length < 4) {

				showError('Please enter a valid name (minimum 4 characters)', 'name-error');
				return false;

			} else {

				clearError('name-error');
			}

			// Validate email :-
			var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
			if (!emailRegex.test(email) || !email.endsWith("@gmail.com")) {

				showError('Please enter a valid Gmail address.', 'email-error');
				return false;

			} else {

				clearError('email-error');
			}

			// Validate phone number :-
			var phonePattern = /^\d{10}$/;
			if (phone.trim() === '' || !phonePattern.test(phone) || !isValidPhoneNumber(phone)) {

				showError('Please enter a valid 10-digit phone number', 'mobile-error');
				return false;

			} else {

				clearError('mobile-error');

			}

			// Validate password :-
			if (password.trim() === '' || password.trim().length < 5) {

				showError('Please enter a valid password (minimum 5 characters)', 'password-error');
				return false;

			} else {

				clearError('password-error');
			}

			// Validate confirm password :-
			if (confirmPassword.trim() === '' || confirmPassword !== password) {

				showError('Passwords do not match', 'confirm-password-error');
				return false;

			} else {

				clearError('confirm-password-error');
			}

			// If all validations pass, submit the form
			document.getElementById('signupForm').submit();

		}

		function showError(message, errorId) {

				var errorElement = document.getElementById(errorId);
				errorElement.textContent = message;
				errorElement.style.color = 'red'; // Set color to red
		}

		function clearError(errorId) {
				var errorElement = document.getElementById(errorId);
				errorElement.textContent = ''; // Clear error message
		}


		function isValidPhoneNumber(phone) {

			// Check if all digits are the same :-
			if (/^(\d)\1+$/.test(phone)) {

				return false;

			}
			return true;
		}

		//	Phone Number Only 10 gigits :-
		function Numbers(event) {

			const key = event.key;
			return (key >= '0' && key <= '9');

		}

	</script>
	<!---->

	<!-- Plugins JS File -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/jquery.hoverIntent.min.js"></script>
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<script src="assets/js/superfish.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- Main JS File -->
	<script src="assets/js/main.js"></script>



	<%- include("../layouts/footer") %>
